body {
  background-color: rgb(25, 25, 25);
  margin: 0 auto;
  /* color: rgb(255, 252, 238); */
}

.container {
  height: 80vh;
  width: 80vh;
  border: solid white 1px;
  margin-left: 20vw;
  margin-top: 10vh;
}

.trig-functions {
  background-color: beige;
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 40px 40px 40px 40px;
  column-gap: 5px;
  row-gap: 5px;
  /* grid-auto-rows: 50px; */
}

.button {
  /* height: 50px;
  width: 50px; */
  background-color: salmon;
  border: solid black 1px;
}
