/* body {
  background-color: rgb(25, 25, 25);
  margin: 0 auto;
  color: rgb(255, 252, 238);
}

.container {
  height: 80vh;
  width: 80vh;
  border: solid white 1px;
  margin-left: 20vw;
  margin-top: 10vh;
}

.bottom-section {
  display: flex;
  justify-content: space-evenly;
}

.trig-functions {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 40px 40px 40px 40px;
  column-gap: 5px;
  row-gap: 5px;
  grid-auto-rows: 50px;
}

.grid-center {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 40px 40px 40px 40px;
  row-gap: 5px;
  column-gap: 5px;
} */

/* .buttons-right {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: aquamarine;
} */

/* .right-row-1 {
  background-color: blueviolet;
  display: flex;
} */
/* .right-row-2 {
  background-color: azure;
  display: flex;
} */

body {
  background-color: rgb(25, 25, 25);
  margin: 0 auto;
  color: rgb(255, 252, 238);
}

@media screen and (max-width: 600px) {
  .container {
    height: 100vh;
    width: 100vw;
    border: solid white 1px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .bottom-section {
    display: flex;
    flex-direction: row;
    background-color: pink;
    padding: 4px;
    height: 30vh;
  }

  .trig-functions {
    display: grid;
    width: 30%;
    height: 100%;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 23% 23% 23% 23%;
    column-gap: 0.2em;
    row-gap: 0.2em;
  }

  .grid-center {
    display: grid;
    width: 40%;
    height: 100%;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 23% 23% 23% 23%;
    row-gap: 0.2em;
    column-gap: 0.2em;
  }
  .buttons-right {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: aquamarine;
  }

  .right-row {
    width: 100%;
    height: 23%;
    display: flex;
    /* border: solid 1px black; */
    margin-bottom: 3%;
  }

  .top > div {
    border: 1px solid black;
    width: 45%;
  }
  /* ADD RIGHT MARGIN ONLY TO FIRST BUTTON IN ROW */
  .top > div:first-of-type {
    margin-right: 5%;
  }

  .bottom > div {
    border: 1px solid black;
    width: 100%;
  }

  .button {
    /* height: 40px;
    width: 50px; */
    background-color: salmon;
    border: solid black 1px;
  }
}
